@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
body {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 46%, 95%);
  font-size: 0.85rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  padding: 1.7rem 1.7rem 0;
}

.testimonial:nth-child(1) {
  background-color: hsl(263, 55%, 52%);
}

.testimonial:nth-child(2) {
  background-color: hsl(217, 19%, 35%);
}

.testimonial:nth-child(3) {
  background-color: hsl(0, 0%, 100%);
}

.testimonial:nth-child(4) {
  background-color: hsl(219, 29%, 14%);
}

.testimonial:nth-child(5) {
  background-color: hsl(0, 0%, 100%);
}

#testimonials {
  display: inline-grid;
  gap: 1.45rem;
  grid-template-columns: 1fr;
  grid-template-areas: "daniel" "jonathan" "jeanette" "patrick" "kira";
}
@media (min-width: 35.65rem) {
  #testimonials {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "daniel daniel" "jonathan jeanette" "patrick patrick" "kira kira";
  }
}
@media (min-width: 53.35rem) {
  #testimonials {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "daniel daniel jonathan" "jeanette patrick patrick" "kira kira kira";
  }
}
@media (min-width: 75rem) {
  #testimonials {
    grid-template-columns: repeat(4, 16.25rem);
    grid-template-areas: "daniel daniel jonathan kira" "jeanette patrick patrick kira";
  }
}

.testimonial {
  padding: 1.6rem;
  border-radius: 0.5rem;
  box-shadow: 0.625rem 0.625rem 0.625rem rgba(206.55, 206.55, 206.55, 0.5);
}
.testimonial figcaption {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.2rem 1.2rem;
}
.testimonial figcaption img {
  grid-area: 1/1/3/2;
  align-self: center;
  width: 2.1875rem;
  height: auto;
  border-radius: 50%;
}
.testimonial figcaption .name {
  align-self: end;
  font-weight: 600;
}
.testimonial .quote-part-1 {
  font-size: 1.4rem;
  line-height: 1.3em;
  margin: 1.5rem 0;
}
.testimonial .quote-part-2 {
  line-height: 1.5em;
}

.testimonial.daniel {
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 95% 0%;
  grid-area: daniel;
}

.testimonial.jonathan {
  grid-area: jonathan;
}

.testimonial.jeanette {
  grid-area: jeanette;
}

.testimonial.patrick {
  grid-area: patrick;
}

.testimonial.kira {
  grid-area: kira;
}

.testimonial.daniel .name,
.testimonial.jonathan .name,
.testimonial.patrick .name {
  color: hsl(0, 0%, 81%);
}
.testimonial.daniel .title,
.testimonial.jonathan .title,
.testimonial.patrick .title {
  color: rgba(206.55, 206.55, 206.55, 0.5);
}
.testimonial.daniel .quote-part-1,
.testimonial.jonathan .quote-part-1,
.testimonial.patrick .quote-part-1 {
  color: hsl(0, 0%, 100%);
}
.testimonial.daniel .quote-part-2,
.testimonial.jonathan .quote-part-2,
.testimonial.patrick .quote-part-2 {
  color: rgba(206.55, 206.55, 206.55, 0.7);
}

.testimonial.jeanette .name,
.testimonial.kira .name {
  color: hsl(219, 29%, 14%);
}
.testimonial.jeanette .title,
.testimonial.kira .title {
  color: rgba(25.347, 32.5941, 46.053, 0.5);
}
.testimonial.jeanette .quote-part-2,
.testimonial.kira .quote-part-2 {
  color: rgba(25.347, 32.5941, 46.053, 0.7);
}

.attribution {
  background-color: rgba(72.2925, 85.29325, 106.2075, 0.1);
  font-size: inherit;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.7rem 0;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  line-height: 1.5rem;
}
.attribution p:first-of-type::after {
  content: " ";
  white-space: pre-wrap;
}
.attribution a {
  color: rgba(116.892, 65.28, 199.92, 0.8);
  font-weight: 700;
}
.attribution a:hover {
  color: rgba(116.892, 65.28, 199.92, 0.6);
}
.attribution a:active {
  color: rgba(116.892, 65.28, 199.92, 0.8);
}/*# sourceMappingURL=style.css.map */