@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
body {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 46%, 95%);
  font-size: 0.85rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  padding: 1.7rem;
}

.testimonial:nth-child(1) {
  background-color: hsl(263, 55%, 52%);
}

.testimonial:nth-child(2) {
  background-color: hsl(217, 19%, 35%);
}

.testimonial:nth-child(3) {
  background-color: hsl(0, 0%, 100%);
}

.testimonial:nth-child(4) {
  background-color: hsl(219, 29%, 14%);
}

.testimonial:nth-child(5) {
  background-color: hsl(0, 0%, 100%);
}

#testimonials {
  display: inline-grid;
  gap: 1.45rem;
  grid-template-columns: 1fr;
  grid-template-areas: "daniel" "jonathan" "jeanette" "patrick" "kira";
}
@media (min-width: 570.398px) {
  #testimonials {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "daniel daniel" "jonathan jeanette" "patrick patrick" "kira kira";
  }
}
@media (min-width: 853.596px) {
  #testimonials {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "daniel daniel jonathan" "jeanette patrick patrick" "kira kira kira";
  }
}
@media (min-width: 1136.79px) {
  #testimonials {
    grid-template-columns: repeat(4, 16.25rem);
    grid-template-areas: "daniel daniel jonathan kira" "jeanette patrick patrick kira";
  }
}

.testimonial {
  padding: 1.6rem;
  border-radius: 0.5rem;
  box-shadow: 0.625rem 0.625rem 0.625rem rgba(207, 207, 207, 0.5);
}
.testimonial figcaption {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.2rem 1.2rem;
}
.testimonial figcaption img {
  grid-area: 1/1/3/2;
  align-self: center;
  width: 2.1875rem;
  height: auto;
  border-radius: 50%;
}
.testimonial figcaption .name {
  align-self: end;
  font-weight: 600;
}
.testimonial .quote-part-1 {
  font-size: 1.4rem;
  line-height: 1.3em;
  margin: 1.5rem 0;
}
.testimonial .quote-part-2 {
  line-height: 1.5em;
}

.testimonial.daniel {
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 95% 0%;
  grid-area: daniel;
}

.testimonial.jonathan {
  grid-area: jonathan;
}

.testimonial.jeanette {
  grid-area: jeanette;
}

.testimonial.patrick {
  grid-area: patrick;
}

.testimonial.kira {
  grid-area: kira;
}

.testimonial.daniel .name,
.testimonial.jonathan .name,
.testimonial.patrick .name {
  color: hsl(0, 0%, 81%);
}
.testimonial.daniel .title,
.testimonial.jonathan .title,
.testimonial.patrick .title {
  color: rgba(207, 207, 207, 0.5);
}
.testimonial.daniel .quote-part-1,
.testimonial.jonathan .quote-part-1,
.testimonial.patrick .quote-part-1 {
  color: hsl(0, 0%, 100%);
}
.testimonial.daniel .quote-part-2,
.testimonial.jonathan .quote-part-2,
.testimonial.patrick .quote-part-2 {
  color: rgba(207, 207, 207, 0.7);
}

.testimonial.jeanette .name,
.testimonial.kira .name {
  color: hsl(219, 29%, 14%);
}
.testimonial.jeanette .title,
.testimonial.kira .title {
  color: rgba(25, 33, 46, 0.5);
}
.testimonial.jeanette .quote-part-2,
.testimonial.kira .quote-part-2 {
  color: rgba(25, 33, 46, 0.7);
}/*# sourceMappingURL=style.css.map */