@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&display=swap');

html, body {
  height: 100%;
  display: grid;
  background: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  font-size: 100%;
}

.container {
  margin: auto;
}

main,
.attribution {
  margin: 20px;
}

article {
  display: grid;
  row-gap: 1.9rem;
  grid-template-rows: 7.8rem 1fr auto;
  padding: 14.5vw;
}

.sedans {
  background: hsl(31, 77%, 52%);
  border-radius: 5px 5px 0 0;
}

.suvs {
  background: hsl(184, 100%, 22%);
}

.luxury {
  background: hsl(179, 100%, 13%);
  border-radius: 0 0 5px 5px;
}

.heading.box {
  display: grid;
  align-content: space-between;
}

h2 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}

p {
  font-size: 0.95rem;
  line-height: 1.5rem;
}

article p {
  color: hsla(0, 0%, 100%, 0.75);
}

button {
  font-size: 0.95rem;
  text-transform: capitalize;
  background: hsl(0, 0%, 95%);
  padding: 0.8rem 1.9rem;
  border-radius: 1.5rem;
  border: 2px solid transparent;
}

.sedans button {
  color: hsl(31, 77%, 52%);
}

.suvs button {
  color: hsl(184, 100%, 22%);
}

.luxury button {
  color: hsl(179, 100%, 13%);
}

button:hover {
  background: none;
  color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
}

button:active {
  background: hsla(0, 0%, 95%, .2);
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 2px hsl(0, 0%, 95%);
}

.attribution,
.attribution a {
  text-align: center;
  color: hsl(179, 100%, 13%);
}

a {
  font-weight: 600;
}

a:hover {
  color: hsla(184, 100%, 22%, .8);
}

a:active {
  color: hsla(179, 100%, 13%, .5);
}

@media screen and (max-width: 48.93rem) and (min-width: 35.81rem) {
  .container {
    width: calc(100vw - 20px);
  }

  article {
    grid-template-columns: 1fr 12.5rem 1fr;
    grid-template-rows: auto;
    padding: 3.1rem 5vw;
  }

  .button.box {
    display: grid;
    align-content: end;
    justify-content: end;
  }

  button {
    padding: 0.8rem 3vw;
  }
}

@media screen and (min-width: 48.94rem) {
  main {
    display: grid;
    max-width: 58.75rem;
    grid-template-columns: repeat(3, auto);
  }

  article {
    padding: 3.1rem;
  }

  button {
    margin: 1.9rem 0 0 0;
  }

  .sedans {
    border-radius: 5px 0 0 5px;
  }

  .luxury {
    border-radius: 0 5px 5px 0;
  }

  .attribution p:first-of-type::after {
    content: "|";
    padding: 0 5px 0 10px;
  }

  .attribution p {
    display: inline;
  }
}