@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --soft-red: hsl(14, 88%, 65%);
  --very-dark-blue: hsl(238, 29%, 16%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
}

html, body {
  height: 100%;
  display: grid;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 100%;
  line-height: 1.3rem;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
}

.container {
  width: 90vw;
  max-width: 56.25rem;
  margin: auto;
}

article {
  display: grid;
  margin-top: min(1.5rem, 5vw);
}
@media (min-width: 57.06rem) {
  article {
    grid-template-columns: 22.5rem 1fr;
  }
}

.img-container {
  grid-row: 1/span 2;
  grid-column: 1;
  z-index: 1;
  height: min(15rem, 60vw);
  width: 100%;
  background-image: url(../images/illustration-woman-online-mobile.svg), url(../images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: auto 85%, auto 50%;
  background-position: 50% 0%, 50% 100%;
}
@media (min-width: 57.06rem) {
  .img-container {
    grid-row: 1;
    grid-column: 1;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.25rem 0 0 1.25rem;
    background-image: url(../images/illustration-woman-online-desktop.svg), url(../images/bg-pattern-desktop.svg);
    background-size: 120%, auto;
    background-position: 100% 50%, 100% 60%;
  }
  .img-container::before {
    content: "";
    display: block;
    height: 100%;
    width: 50%;
    background-image: url(../images/illustration-box-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left 65%;
    position: relative;
    left: -24.5%;
  }
}

.faq {
  grid-row: 2/span 2;
  grid-column: 1;
  padding: min(7.5rem, 30vw) 1.5rem 2.5rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.25rem;
  box-shadow: 0 0.62rem 1.87rem hsla(0, 0%, 0%, 0.2);
}
@media (min-width: 57.06rem) {
  .faq {
    grid-row: 1;
    grid-column: 2;
    padding: 3.5rem 4rem 3.5rem;
    border-radius: 0 1.25rem 1.25rem 0;
  }
}
.faq h2 {
  color: var(--very-dark-blue);
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  margin: 1.2em 0;
}
@media (min-width: 57.06rem) {
  .faq h2 {
    text-align: left;
    margin: 0 0 1.65em 0;
  }
}
.faq .q-a {
  font-size: 0.95rem;
  border-bottom: 1.5px solid var(--light-grayish-blue);
  padding-bottom: 1.05em;
  margin-top: 1.05em;
}
.faq .q-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
}
.faq h3 {
  grid-column: 1;
  color: var(--very-dark-grayish-blue);
  cursor: pointer;
}
.faq h3:hover {
  color: var(--soft-red);
}
.faq h3.h3-active {
  color: var(--very-dark-blue);
  font-weight: 700;
}
.faq svg {
  grid-column: 2;
  padding: 0.5rem 0 0 0.7rem;
  justify-self: end;
  cursor: pointer;
  transition: transform 0.2s;
}
.faq svg.svg-animation {
  transform: rotate(180deg);
  padding: 0 0.7rem 0.5rem 0;
}
.faq p {
  width: calc(100% - (10px + 0.7rem));
  color: var(--dark-grayish-blue);
  margin-top: 1.05em;
}
.faq p.p-visible {
  display: block;
}

footer {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: min(1.5rem, 5vw) 0;
  padding: 0.3rem 1.5rem;
  border-radius: 0.3rem;
}
footer p:first-of-type::after {
  content: " ";
  white-space: pre-wrap;
}
footer a {
  color: rgba(29, 30, 53, 0.8);
  font-weight: 700;
}
footer a:hover {
  color: rgba(29, 30, 53, 0.6);
}
footer a:active {
  color: rgba(29, 30, 53, 0.8);
}/*# sourceMappingURL=style.css.map */