@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&display=swap');

html, body {
  height: 100%;
  display: grid;
  background: hsl(233, 47%, 7%);
  font-family: "Inter", sans-serif;
  font-size: 100%;
  font-weight: 400;
}

.container {
  margin: auto;
  padding: 1.25rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row-reverse;
}

picture {
  background: hsl(277, 64%, 61%);
  border-radius: 7px 7px 0 0;
}

img {
  display: block;
  max-width: 30rem;
  width: 100%;
  height: auto;
  opacity: 50%;
  border-radius: 7px 7px 0 0;
}

.text-container {
  max-width: 30rem;
  background: hsl(244, 38%, 16%);
  text-align: center;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 0 0 7px 7px;
}

h2,
.number {
  color: hsl(0, 0%, 100%);
}

h2 {
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.3em;
}

h2 > span {
  color: hsl(277, 64%, 61%);
}

p {
  font-size: 0.875rem;
  line-height: 1.6em;
  color: hsla(0, 0%, 100%, 0.75);
  margin: 15px 0 30px 0;
}

.stat.number {
  font-size: 1.3rem;
  font-weight: 700;
}

.stat.number.million {
  text-transform: uppercase;
}

.stat.heading {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
}

.attribution {
  font-size: 0.875rem;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.6);
}

a {
  color: hsl(0, 0%, 100%);
}

a:hover {
  color: hsla(0, 0%, 100%, 0.8);
}

@media screen and (min-width: 1000px) {
  picture, img {
    border-radius: 0 7px 7px 0;
  }

  .text-container {
    text-align: left;
    padding: 60px;
    border-radius: 7px 0 0 7px;
  }

  h2 {
    font-size: 2.2rem;
  }

  p {
    margin: 30px 0 60px 0;
  }
}