html, body {
  height: 100%;
  display: grid;
}

.container {
  margin: auto;
  padding: 1.25rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row-reverse;
}

img {
  display: block;
  max-width: 25rem;
  width: 100%;
  height: auto;
}

.text-container {
  max-width: 25rem;
}

.attribution {
  text-align: center;
}