@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --white: hsl(0, 0%, 100%);
}

body {
  min-height: 100vh;
  background: var(--violet) url(../images/bg-mobile.svg) no-repeat;
  background-size: 100% auto;
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
  padding: 2.2rem 2.2rem 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 35rem) {
  body {
    background-image: url(../images/bg-desktop.svg);
    background-size: auto calc(100% - 4.5rem);
  }
}

header img {
  width: clamp(8.125rem, 20vw, 10rem);
}

main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 3.5rem 4vw;
  margin: 3.5rem 0;
}
@media (min-width: 62.0625rem) {
  main {
    margin-bottom: 0;
  }
}
@media (min-width: 35rem) and (max-width: 62.0625rem) {
  main {
    padding: 0 calc(21vw - 2.2rem) 0;
  }
}

@media (min-width: 62.0625rem) {
  .img-container {
    width: 55%;
  }
}
.img-container img {
  width: 100%;
}

.text-container {
  text-align: center;
}
@media (min-width: 62.0625rem) {
  .text-container {
    text-align: left;
    flex: 22.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.text-container h1 {
  font-family: Poppins, sans-serif;
  font-size: clamp(1.5rem, 3vw, 3rem);
  line-height: 1.4em;
}
.text-container p {
  margin: 1.3rem 0;
}
.text-container button {
  color: var(--violet);
  border: none;
  padding: 1em;
  width: 80%;
  border-radius: 1.2rem;
}
.text-container button:hover {
  background-color: var(--soft-magenta);
  color: var(--white);
}
.text-container button:active {
  transform: scale(0.9);
}
@media (min-width: 62.0625rem) {
  .text-container button {
    width: 30%;
  }
}

address ul {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
}
@media (min-width: 62.0625rem) {
  address ul {
    justify-content: flex-end;
  }
}
address a {
  border: 1px solid var(--white);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  place-content: center;
}
address a:hover {
  border: 1px solid var(--soft-magenta);
}
address a:hover > svg {
  fill: var(--soft-magenta);
}
address svg {
  display: block;
  fill: var(--white);
}
address .facebook {
  width: 0.6rem;
}
address .twitter,
address .instagram {
  width: 0.94rem;
}

footer {
  background-color: rgba(232, 130, 232, 0.1);
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2.2rem 0;
  padding: 0.3rem 4vw;
  border-radius: 0.3rem;
}
footer p:first-of-type::after {
  content: " ";
  white-space: pre-wrap;
}
footer a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
}
footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}
footer a:active {
  color: rgba(255, 255, 255, 0.8);
}/*# sourceMappingURL=style.css.map */