@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  font-family: "Raleway", sans-serif;
  color: hsl(243, 100%, 93%);
  background: hsl(229, 57%, 11%) url(../images/bg-desktop.png) no-repeat;
  background-position: 0 100%;
  background-size: max(1440px, 100vw) 55%;
  margin: 0 2rem;
}
@media (max-width: 59.5rem) {
  body {
    margin: 0;
    background: hsl(229, 57%, 11%) url(../images/bg-mobile.png) no-repeat;
    background-position: 100%;
    background-size: 100% 100%;
  }
}

.container {
  margin: auto;
}

.storage {
  display: grid;
  grid-template-columns: 20rem 34rem;
  gap: 1.2rem 1.5rem;
  margin-top: 1.3rem;
}
@media (max-width: 59.5rem) {
  .storage {
    grid-template-columns: 85vw;
  }
}

.files {
  display: grid;
  align-content: center;
  padding-left: 2.3rem;
  border-radius: 0.6rem 5.2rem 0.6rem 0.6rem;
  background-color: hsl(228, 56%, 26%);
}
.files .logo {
  width: 7.7rem;
  margin-bottom: 1.7rem;
  border: 1px solid red;
}
.files ul {
  width: 10rem;
  display: flex;
  -moz-column-gap: 0.7rem;
       column-gap: 0.7rem;
  border: 1px solid red;
}
.files ul li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  background-color: hsl(229, 57%, 11%);
  cursor: pointer;
  transition: transform 0.3s;
}
.files ul li:hover {
  background-color: rgba(12, 18, 44, 0.7);
  transform: scale(1.1);
}
.files ul button {
  border: 0;
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}

.storage-space {
  display: grid;
  grid-template-rows: 0.5fr 0.3fr 1fr;
  grid-template-columns: 1fr 0.4fr 2.3rem;
}
.storage-space .space-left {
  grid-row: 1/span 2;
  grid-column: 2;
  z-index: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: hsl(229, 7%, 55%);
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.6rem;
}
.storage-space .space-left .number {
  font-size: 2.5rem;
  color: hsl(229, 57%, 11%);
}
.storage-space .visual-info {
  grid-row: 2/span 2;
  grid-column: 1/span 3;
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: hsl(228, 56%, 26%);
  border-radius: 0.6rem;
  padding: 0 2.3rem;
}
.storage-space .visual-info .info-for-user {
  grid-column: 1/span 2;
  border: 1px solid red;
}
.storage-space .visual-info meter {
  width: 100%;
  grid-column: 1/span 2;
  margin: 1rem 0 0.5rem;
}
.storage-space .visual-info .min-space {
  grid-column: 1/2;
}
.storage-space .visual-info .max-space {
  grid-column: 2/3;
}

.attribution {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.3rem 0;
  padding: 0.3rem 0rem;
  border-radius: 0.3rem;
}
.attribution p:first-of-type::after {
  content: " ";
  white-space: pre-wrap;
}
.attribution a {
  color: rgba(211, 211, 211, 0.8);
  font-weight: 700;
}
.attribution a:hover {
  color: rgba(211, 211, 211, 0.6);
}
.attribution a:active {
  color: rgba(211, 211, 211, 0.8);
}
@media (max-width: 59.5rem) {
  .attribution {
    width: 85vw;
  }
}/*# sourceMappingURL=style.css.map */