body {
  background: hsl(30, 38%, 92%);
}

#container {
  width: 92vw;
  margin: 1rem auto;
  color: hsl(228, 12%, 48%);
}

section {
  display: flex;
  flex-direction: column;
  background: hsl(0, 0%, 100%);
}

img {
  display: block;
}

.product h2 {
  color: hsl(212, 21%, 14%);
}

.discounted-price {
  color: hsl(158, 36%, 37%);
}

button {
  background: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 37.5rem) {
  body {
    height: 100vh;
    display: flex;
  }

  #container {
    width: 37.5rem; /* 600px */
    margin: auto;
  }

  section {
    flex-direction: row;
  }

  picture,
  .product {
    width: 50%;
  }
}